.question {
  border: 1px solid #bbb;
  margin-top: 1rem;
  padding: 0.5rem;
}
button {
  display: block;
  margin: 0.5rem auto;
}

.questions li {
  display: inline-block;
  padding: 0.3rem;
  margin: 0.2rem;
  cursor: pointer;
}

.unanswered {
  background-color: white;
}
.correct {
  background-color: lawngreen;
}
.incorrect {
  background-color: red;
  color: white;
}

.current {
  border: 1px solid black;
}
