.question {
  margin-top: 1rem;
  padding: 0.5rem;
}
ul.clues {
  max-width: 60%;
  margin: 0 auto;
  list-style-position: inside;
}
.question button {
  display: block;
  margin: 0.5rem auto;
}
.question input {
  margin-left: 0.5rem;
}
span.prompt {
  font-size: 1.1em;
  font-weight: bolder;
}
